table.ResponsiveTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.ResponsiveTable caption {
  font-size:15px;
  margin: .5em 0 .75em;
}

table.ResponsiveTable tr {
  background-color: #f8f8f8;
  border:none;
  padding:0;
}

table.ResponsiveTable th,
table.ResponsiveTable td {
  padding: .625em;
  text-align: center;
}

table.ResponsiveTable th {
  font-size:15px;
  text-transform: none;
}

@media screen and (max-width: 800px) {
  table.ResponsiveTable {
    border: 0;
  }

  table.ResponsiveTable caption {
    font-size:15px;
  }
  
  table.ResponsiveTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.ResponsiveTable tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table.ResponsiveTable td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size:15px;
    text-align: right;
  }
  
  table.ResponsiveTable td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: none;
  }
  
  table.ResponsiveTable td:last-child {
    border-bottom: 0;
  }
}



@media screen and (max-width:1240px) and (min-width:1024px) {
.navigation {    margin-left: 0; }
.contactPage .AddressBox .Cntbox { padding: 0; height: auto;  }
.category_insights .TextContent a.text-extra-dark-gray { height: auto;  }
.LoginPages .Loginbox .inputBox { width: 48.4%;  }
.LoginPages .registerboxnew.Loginbox { margin-right: 28px;   }
.navigation nav ul li a { padding: 10px 15px 15px 15px;  }
section.our-team ul li { width: 30%; margin-bottom: 20px;   }
section.SectionInsights .Main_insights .insightsBox { width:31.5%;  }
.blog1.OtherInsights .insightsBox .news-short { min-height: 280px;  }

section.SectionInsights .insightsBox .news-short { min-height: 430px;  }

}
@media screen and (max-width:1023px) and (min-width:767px) {
.container { width: auto;  }
header .headertop {display: none;  }
header .logo-left { width: 100%;  }
.headerMobile { display: block;  }
.headerMobile ul.RegistrationBox li.LogInbtn .fa.fa-lock { display: none; }
.headerMobile ul.RegistrationBox { margin: 0px 0 0 0;  padding: 0;  float: right; list-style: none;}
.headerMobile ul.RegistrationBox li span.LogIn { display: none; }
footer.footermain .MainFooterBox { width: 33%; float: left; }
.footermain .footer-bottom { padding-bottom:75px;   }
.MainserviceBox { float: left; width: 33%;  } 
.SettingIconBox { bottom:75px !important;  }
.back_to_top.on { bottom:75px;  }
.MainLeftSide { width: 100%; margin-right: 0;    }
.MainRightSide { width: 100%;  }
.stickyfooterBtn { margin-bottom:30px;   }
.contactPage .AddressBox .Cntbox { padding: 0; height: auto;  }
.LoginPages .registerboxnew.Loginbox {width: 42%;}
.LoginPages .Loginbox { width: 53%; }
.LoginPages .Loginbox .inputBox { width: 100%;  }
.LoginPages .LoginSubmit.inputBox { width: auto;   }
.LoginPages .ForgottenBox.inputBox { width: auto;  }
.Candidated_Form .form-group .PasswordBox1 button.btn { border: none; padding: 0; text-transform: none; font-weight: normal;  }
span.myAccount, i.fa.fa-user.myAccounticon { display: none;  }
.Candidated_Form .form-group .Passbtn  button.btn {  width: 40px; }
.Candidated_Form .form-group .PasswordBox1 { width: 48.3%;  }
section.our-team .row { margin: 0;  }
section.our-team ul li { width: 30%; margin-bottom: 20px;   }
.getintouch ul li { width:49%; margin-bottom:20px;   }
section.SectionInsights.IndustryNews .latest-post .insightsBox { width: 46%;  }
.job-newsletter label.col-sm-2 {  width: 100%;  }
section.SectionInsights.IndustryNews .latest-post .insightsBox {
    width: 31.8%;}
section.our-team .row { margin: 0;  }
section.our-team ul li { width: 30%; margin-bottom: 20px;   }
.getintouch ul li { width:49%; margin-bottom:20px;   }
section.SectionInsights .Main_insights .insightsBox { width:31.5%;  }

a.Filterbtn.btn { display: inline-block; width:49%; }
.sidenav.mySidenavFilter {display: none;position: fixed; background: #fff; max-width: 280px; box-shadow: 0 3px 10px rgb(0 0 0 / 8%);}
.toolbox-left .select-custom { display: flex; justify-content:space-between; }
.toolbox-left { width: 50%; }
select.form-control.selectize {width: 49%;}
.PopupSearchBox .BasicproductSearch form { flex-direction:column;  }


.OtherInsights .insightsBox .news-short { min-height: 130px;  }

.blog1.OtherInsights .insightsBox h3 { height:auto;  }
.blog1.OtherInsights .insightsBox .news-short { min-height: 300px;  }

section.SectionInsights .NewinsightsBox { width: 100%; }
section.SectionInsights .insightsBox .news-short {min-height: 100%;}
section.SectionInsights .insightsBox h3 { height: auto;  }

.blog .row .NewinsightsBox  { width: 100%; }
.blog .row .NewinsightsBox:first-child .insightsBox { flex-direction: column;  }
.blog .row .NewinsightsBox:first-child .insightsBox .Insights3 { width: 100%; }
.blog .row .NewinsightsBox:first-child .insightsBox .news-block { width: 100%; padding: 20px 0; }
.categories_top_Box ul li a { font-size: 14px; padding: 5px 15px;   }
.categories_top_Box ul li { margin-right:0px; margin-bottom: 10px; }

.OtherInsights .NewinsightsBox  { width: 100%;  }
.blog1.OtherInsights .insightsBox .news-short { min-height: 100%;  }
.digi-elements .insightsBox .news-block h3 a { line-height:35px}

}

@media screen and (max-width:766px) and (min-width:651px) {
header .headertop {display: none;  }
header .logo-left { width: 100%;  }
.headerMobile { display: block;  }
.headerMobile ul.RegistrationBox li.LogInbtn .fa.fa-lock { display: none; }
.headerMobile ul.RegistrationBox { margin: 0px 0 0 0;  padding: 0;  float: right; list-style: none;}
.headerMobile ul.RegistrationBox li span.LogIn { display: none; }
.JobsByIndustry ul li {   width: auto; display: block; } 
.JobsByIndustry ul li:last-child { margin-right: 10px;   }
footer.footermain .MainFooterBox { width: 33%; float: left; }
.footermain .footer-bottom { padding-bottom: 75px;   }
.SettingIconBox { bottom: 63px !important;  }
.back_to_top.on { bottom: 62px;  }
.MainLeftSide { width: 100%; margin-right: 0;    }
.MainRightSide { width: 100%;  }
.stickyfooterBtn { margin-bottom:30px;   }
.contactPage .AddressBox .Cntbox { width: 50%; padding: 0; height: auto;  }
.Servicelisting p.ServiceSummary { min-height: auto; margin-bottom: 10px;  } 
.LoginPages .registerboxnew.Loginbox {width: 42%;}
.LoginPages .Loginbox { width: 53%; }
.LoginPages .Loginbox .inputBox { width: 100%;  }
.LoginPages .LoginSubmit.inputBox { width: auto;   }
.LoginPages .ForgottenBox.inputBox { width: auto;  }
.Candidated_Form .form-group .PasswordBox1 button.btn { border: none; padding: 0; text-transform: none; font-weight: normal;  }
span.myAccount, i.fa.fa-user.myAccounticon { display: none;  }
.Candidated_Form .form-group .Passbtn  button.btn {  width: 40px; }
.form-group.PositionFixedBox .btn { width: 100%; margin-bottom: 10px;   }
.form-group.PositionFixedBox .col-lg-12 { padding: 0;  }
.job-newsletter label.col-sm-2 {  width: 100%;  }
section.our-team .row { margin: 0;  }
section.our-team ul li { width: 30%; margin-bottom: 20px;   }
.getintouch ul li { width:49%; margin-bottom:20px;   }
section.SectionInsights.IndustryNews .latest-post .insightsBox { width: 46%;  }
section.SectionInsights .Main_insights .insightsBox { width: 100%;  }
.MainLeft { width: 100%; }
.MainRight { width: 100%; }

a.Filterbtn.btn { display: inline-block; width:49%; }
.sidenav.mySidenavFilter {display: none;position: fixed; background: #fff; max-width: 280px; box-shadow: 0 3px 10px rgb(0 0 0 / 8%);}
.toolbox-left .select-custom { display: flex; justify-content:space-between; }
.toolbox-left { width: 50%; }
select.form-control.selectize {width: 49%;}
.PopupSearchBox .BasicproductSearch form { flex-direction:column;  }

.blog .row .NewinsightsBox:first-child .insightsBox { padding:0px; flex-direction: column;  }
.blog .row .NewinsightsBox:first-child .insightsBox .Insights3 { width: 100%; }
.blog .row .NewinsightsBox:first-child .insightsBox .news-block { padding: 20px 0;  width: 100%; }

.OtherInsights .NewinsightsBox  { width: 100%;  }
.insightsBox h3 { height: auto;  }
.blog1.OtherInsights .insightsBox .news-short { min-height: 100%;  }

section.SectionInsights .NewinsightsBox { width: 100%; }
section.SectionInsights .insightsBox .news-short {min-height: 100%;}

.blog .row .NewinsightsBox  { width: 100%; }
.categories_top_Box ul li a { font-size: 14px; padding: 5px 15px;   }
.categories_top_Box ul li { margin-right:0px; margin-bottom: 10px; }
.digi-elements .insightsBox .news-block h3 a { line-height:35px}
}
@media screen and (max-width:650px) and (min-width:351px) {
header .headertop {display: none;  }
header .logo-left { width: 100%;  }
.headerMobile { display: block;  }
.headerMobile ul.RegistrationBox li.LogInbtn .fa.fa-lock { display: none; }
.headerMobile ul.RegistrationBox { margin: 0px 0 0 0;  padding: 0;  float: right; list-style: none;}
.headerMobile ul.RegistrationBox li span.LogIn { display: none; }
.JobsByIndustry ul li {   width: auto; display: block; } 
.JobsByIndustry ul li:last-child { margin-right: 10px;   }
footer.footermain ul {margin-bottom: 20px; }
footer.footermain ul li { text-align: center;  }
footer.footermain .footer-menu ul li strong { margin-bottom: 0;   }
footer.footermain .FooterBox h3 { margin-bottom: 0; text-align: center;   }
.footermain .FootreMenu .socalmediafooter { width: 100%; margin: 0;  } 
.footermain .footer-bottom { padding-bottom: 75px;   }
.SettingIconBox { bottom: 63px !important;  }
.back_to_top.on { bottom: 62px;  }
.MainLeftSide { width: 100%; margin-right: 0;    }
.MainRightSide { width: 100%;  }
.jb-jobs-header .layout-grid { width: 100%;  }
.stickyfooterBtn { margin-bottom: 30px;   }
.contactPage .AddressBox .Cntbox { width: 100%; padding: 0; height: auto;  }
.Servicelisting p.ServiceSummary { min-height: auto; margin-bottom: 10px;  } 
.dropbox_GooglePicker { float: left; position: relative; width: 100%; padding:0; margin: 10px 0 10px 0;  }
.LoginPages .Loginbox { width: 100%;  }
.LoginPages .Loginbox .inputBox { width: 100%;  }
.LoginPages .registerboxnew.Loginbox { width: 100%; margin: 10px 0 20px 0; }
.LoginPages .LoginSubmit.inputBox { width: auto;   }
.LoginPages .ForgottenBox.inputBox { width: auto;  }
.Candidated_Form .form-group .PasswordBox1 { width: 100%;   } 
.Candidated_Form .form-group .PasswordBox1 button.btn { border: none; padding: 0; text-transform: none; font-weight: normal;  }
.Candidated_Form .form-group .Passbtn  button.btn {  width: 40px; }
.form-group.PositionFixedBox .btn { width: 100%; margin-bottom: 10px;   }
.form-group.PositionFixedBox .col-lg-12 { padding: 0;  }
.service-box.full .iconbox {  float: none; margin: 0 0 10px 0;  }
section.SectionInsights.IndustryNews .latest-post .insightsBox { width: 100%;  }
section.SectionInsights.IndustryNews .TitleBox { text-align: center; }
section.our-team ul li { width: 100%; margin-bottom: 20px;   }
section.our-team .row { margin: 0;  }
.getintouch ul li { width:100%; margin-bottom: 10px;   }
section.SectionInsights .Main_insights .insightsBox { width: 100%;  }
.MainLeft { width: 100%; }
.MainRight { width: 100%; }

nav.toolbox { float:left; width: 100%; }
a.Filterbtn.btn { display: inline-block; width: 48%; }
.sidenav.mySidenavFilter {display: none;position: fixed; background: #fff; max-width: 280px; box-shadow: 0 3px 10px rgb(0 0 0 / 8%);}
.toolbox .toolbox-item.toolbox-show label {display: none; } 
.toolbox-left { width:100%;  }
.toolbox-left .select-custom { display: flex; justify-content:space-between; }
.toolbox-left .form-control.selectize { width: 50%; }
.PopupSearchBox .BasicproductSearch form { flex-direction:column;  }

.blog .row .NewinsightsBox:first-child .insightsBox { flex-direction: column;border: none; margin-bottom: 0;   }
.blog .row .NewinsightsBox:first-child .insightsBox .Insights3 { width: 100%; }
.blog .row .NewinsightsBox:first-child .insightsBox .news-block { width: 100%; padding:25px 0;  }

.OtherInsights .NewinsightsBox  { width: 100%;  }
.insightsBox h3 { height: auto;  }
.blog1.OtherInsights .insightsBox .news-short { min-height: 100%;  }
section.SectionInsights .NewinsightsBox { width: 100%; }
section.SectionInsights .insightsBox .news-short {min-height: 100%;}
.blog .row .NewinsightsBox  { width: 100%; }
.categories_top_Box ul li a { font-size: 14px; padding: 5px 10px;   }
.categories_top_Box ul li { margin-right:0px;  }
.digi-elements .insightsBox .news-block h3 a { line-height:34px}


}
@media screen and (max-width:350px) {
header .headertop {display: none;  }
header .logo-left { width: 100%;  }
.headerMobile { display: block;  }
.headerMobile ul.RegistrationBox li.LogInbtn .fa.fa-lock { display: none; }
.headerMobile ul.RegistrationBox { margin: 0px 0 0 0;  padding: 0;  float: right; list-style: none;}
.headerMobile ul.RegistrationBox li span.LogIn { display: none; }
.JobsByIndustry ul li {   width: auto; display: block; } 
.JobsByIndustry ul li:last-child { margin-right: 10px;   }
footer.footermain ul {margin-bottom: 20px; }
footer.footermain ul li { text-align: center;  }
footer.footermain .footer-menu ul li strong { margin-bottom: 0;   }
footer.footermain .FooterBox h3 { margin-bottom: 0; text-align: center;   }
.footermain .FootreMenu .socalmediafooter { width: 100%; margin: 0; text-align: center;  } 
.footermain .footer-bottom { padding-bottom: 75px;   }
.SettingIconBox { bottom: 63px !important;  }
.back_to_top.on { bottom: 62px;  }
.MainLeftSide { width: 100%; margin-right: 0;    }
.MainRightSide { width: 100%;  }
.jb-jobs-header .layout-grid { width: 100%;  }
.stickyfooterBtn { margin-bottom: 30px;   }
.contactPage .AddressBox .Cntbox { width: 100%; padding: 0; height: auto;  }
.Servicelisting p.ServiceSummary { min-height: auto; margin-bottom: 10px;  } 
.dropbox_GooglePicker { float: left; position: relative; width: 100%; padding:0; margin: 10px 0 10px 0;  }
.LoginPages .Loginbox { width: 100%;  }
.LoginPages .Loginbox .inputBox { width: 100%;  }
.LoginPages .registerboxnew.Loginbox { width: 100%; margin: 10px 0 20px 0; }
.LoginPages .LoginSubmit.inputBox { width: auto;   }
.LoginPages .ForgottenBox.inputBox { width: auto;  }
.Candidated_Form .form-group .PasswordBox1 { width: 100%;   } 
.Candidated_Form .form-group .PasswordBox1 button.btn { border: none; padding: 0; text-transform: none; font-weight: normal;  }
.Candidated_Form .form-group .Passbtn  button.btn {  width: 40px; }
.form-group.PositionFixedBox .btn { width: 100%; margin-bottom: 10px;   }
.form-group.PositionFixedBox .col-lg-12 { padding: 0;  }
.MobileMenuBox .RegistrationBox {padding: 0; margin: -16px 0 0 0; }
.service-box.full .iconbox {  float: none; margin: 0 0 10px 0;  }
section.SectionInsights.IndustryNews .latest-post .insightsBox { width: 100%;  }
section.SectionInsights.IndustryNews .TitleBox { text-align: center; }
section.our-team ul li { width: 100%; margin-bottom: 20px;   }
section.our-team .row { margin: 0;  }
.getintouch ul li { width:100%; margin-bottom: 10px;   }
section.SectionInsights .Main_insights .insightsBox { width: 100%;  }
header .headerMenu span.open_mobilecart { display: none; }
.MainLeft { width: 100%; }
.MainRight { width: 100%; }

.NewsletterForm {clear: both; float: left; }

nav.toolbox { float:left; width: 100%; }
a.Filterbtn.btn { display: inline-block; width: 48%; }
.sidenav.mySidenavFilter {display: none;position: fixed; background: #fff; max-width: 280px; box-shadow: 0 3px 10px rgb(0 0 0 / 8%);}
.toolbox .toolbox-item.toolbox-show label {display: none; } 
.toolbox-left { width:100%;  }
.toolbox-left .select-custom { display: flex; justify-content:space-between; }
.toolbox-left .form-control.selectize { width: 50%; }

.PopupSearchBox .BasicproductSearch form { flex-direction:column;  }


.blog .row .NewinsightsBox:first-child .insightsBox { flex-direction: column;border: none; margin-bottom: 0;   }
.blog .row .NewinsightsBox:first-child .insightsBox .Insights3 { width: 100%; }
.blog .row .NewinsightsBox:first-child .insightsBox .news-block { width: 100%; padding:25px 0;  }

.OtherInsights .NewinsightsBox  { width: 100%;  }

.insightsBox h3 { height: auto;  }
section.SectionInsights .NewinsightsBox { width: 100%; }
section.SectionInsights .insightsBox .news-short {min-height: 100%;}

.blog .row .NewinsightsBox  { width: 100%; }
.categories_top_Box ul li a { font-size: 14px; padding: 5px 10px;   }
.categories_top_Box ul li { margin-right:0px;  }
.digi-elements .insightsBox .news-block h3 a { line-height:34px}
}


