/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Geograph";;

*/

@font-face{
    font-family: "Geograph";
    src: url('../t/e0238444d08a1891468ef9180d335a86.eot');
    src: url('../t/e0238444d08a1891468ef9180d335a86_iefix.eot')format("embedded-opentype"),
        url('../t/e0238444d08a1891468ef9180d335a86.woff')format("woff"),
        url('../t/e0238444d08a1891468ef9180d335a86.woff2.png')format("woff2"),
        url('../t/e0238444d08a1891468ef9180d335a86.ttf.bin')format("truetype"),
        url('../t/e0238444d08a1891468ef9180d335a86_Geograph.svg')format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
 
