/******* products css  */
.Productspags .MainLeft { float: right; }
.Productspags .MainRight { float: left; }
.ProductWidthFixed .MainProductBox { width:25%;  }
.ProductWidthFixed .MainTitleBox { text-align: center; }
.NewProducts1 .MainProductBox { width: 100%;  }
.NewProducts1 .MainTitleBox { text-align: center; }
.NewProducts1 .owl-nav { display: none !important; } 

.Main_Category {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.toolbox-left {float: left;  margin-right: 0;width: 21%; }
a.Filterbtn.btn { display: none;}
.toolbox .toolbox-item.toolbox-show { float: right; margin: 11px 0 0 20px; }
.Productspags .MainProductBox { flex: auto;max-width: 33%; margin-bottom: 30px; }
.MainProductBox .productbox { text-align: left; margin-top: 0px; float: left; width: 100%; overflow: hidden; padding: 0; animation: zoomIn .5s ease; position: relative;}
.MainProductBox .productbox h3.product-title {text-transform: none; margin: 0 0 10px 0; height:48px; padding: 0px 0 0px 0; overflow: hidden; text-align: center; line-height:23px; }
.MainProductBox .productbox figure {max-width: 100%; margin:0 0 10px 0; overflow: hidden; }
.MainProductBox .productbox figure img { display: inline-block; border: solid 1px #ddd; }
.MainProductBox .productbox .descriptionbox { padding: 10px 0; overflow: hidden; height: 80px; text-align: center;  display: none;}
.MainProductBox .productbox .CountryRegion { padding: 10px 0 0px 0;  font-weight: bold; text-align: center;}
.MainProductBox .productbox .AddCart { float: right;display: flex; align-items: center; justify-content: center; }
.MainProductBox .productbox .addocartbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_right_action {
    position: absolute;
    top: 0;
    background: #ef3f38;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffcf;
    line-height: 30px;
    right: 0;
}
.MainProductBox .productbox .AddCart button.btn { padding: 0; background-color:#333; color:#fff; }
.MainProductBox .productbox .AddCart button.btn span { display: none; }
.MainProductBox .productbox .AddCart button.btn { padding: 4px 10px 5px 10px;  margin-left: 0; border-radius: 0; width: 45px; height: 45px; border: none; color:#fff; }
.MainProductBox .productbox .AddCart select.form-control { width:80px; }
.MainProductBox .productbox .AddCart input.form-control {width:60px;text-align: center; height:45px; margin: 0 0 0 0; background: #1f1f1f; border: solid 4px #333; color:#ddd; }
.MainProductBox .productbox .AddCart button.btn:after { border-radius:0;  }
.MainProductBox .productbox .sold-out-tag {left: auto;right: -20px; top: -20px; bottom: auto;   -webkit-transform: rotate(45deg);    -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);  transform: rotate(45deg); -webkit-opacity: 1;  -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;  -webkit-transition: all .4s ease-in-out 0s;  -moz-transition: all .4s ease-in-out 0s;  -ms-transition: all .4s ease-in-out 0s;  -o-transition: all .4s ease-in-out 0s;  transition: all .4s ease-in-out 0s;  z-index: 9; }
.MainProductBox .productbox .sold-out-tag {margin: 0; position: absolute; height: 85px; width: 85px;  line-height: 65px;   background: #d63030;  -webkit-border-radius: 50%;  -moz-border-radius: 50%;   -khtml-border-radius: 50%;   border-radius: 50%;  padding: 5px; margin: auto;  display: none;}
.MainProductBox .productbox .sold-out-tag .tag { float: none; width: 85%; height: auto; display: inline-block; vertical-align: top; padding: 28px 0 0; font-weight: 700;}
.MainProductBox .productbox .sold-out-tag .tag { background: 0 0; color: #eee; padding: 0; font-size: 12px; line-height: 14px; margin: 39px 0 0 7px; width: 60px;}
.MainProductBox .productbox .btn_wrapper { position: absolute; top: 0; padding:0 0 0 0; height: 100%; width: 100%; text-align: center;  -webkit-opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; visibility: hidden; -webkit-transition: all .4s ease-in-out 0s; -moz-transition: all .4s ease-in-out 0s; -ms-transition: all .4s ease-in-out 0s; -o-transition: all .4s ease-in-out 0s; transition: all .4s ease-in-out 0s; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.MainProductBox .productbox:hover .btn_wrapper { -webkit-opacity: 1; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; visibility: visible;}
.MainProductBox .productbox .ProductImg img { bottom: 0; top: 0; left: 0; margin: 0 auto; position: relative; right: 0; transform: scale(1); transition: all .5s ease-in-out 0s;}
.MainProductBox .productbox:hover .ProductImg img { opacity:0.5; transform: scale(1.2); visibility: visible;}
.Mainaddocartbtn {
    margin-top: 20px;
}
.MainProductBox {
    margin-bottom: 20px;
}

.cartbtn span { display: none;  }
a.cartbtn { background: #333; width:45px; height: 45px; display: inline-block; border-radius:0; color: #fff; font-size: 18px; text-align: center;   padding:14px 0 14px 0; border: none;}
a.cartbtn i { color:#fff;   }
a.cartbtn:hover,button.btn.cartbtn:hover { border: none; background:#ef3f38;  }
button.btn.cartbtn { width: 45px; height: 45px; padding: 0; background: #333; font-size: 18px; line-height: 45px; border: none; border-radius:0; color:#fff;}
.ProductImg:before { content: ""; background: #000; height: 100%; width: 100%; position: absolute; bottom: 0; opacity: 0.3;}
.MainProductBox .productbox h3.product-title a:hover { text-decoration: underline; }
.MainProductBox .productbox h3.product-title a { color: #000;font-size:20px; font-weight: bold; letter-spacing: 0;  text-transform: none; }
.ProductImg { position: relative;}
.price-box {text-align: center; font-weight: bold; margin-top: 10px;}
.ratings-container {  text-align: center;}
.container.Productspags { margin-top:40px;   }
.Outofstock { display: flex; align-items: center;}
.Savebtn { margin-left: 10px; }
.PriceLine {text-decoration: line-through; }
.discount_percentage { color:#ef3f38; }
button.btn-send-enquiry { background:;  margin-bottom: 5px; }
section.related_products .MainProductBox { width: 25%; }
section.related_products .ratings-container {position: relative; bottom: 0;  }
.jstars .jstars-empty,.jstars .jstars-filled {font-size: 20px !important;}
.Reviews_Stars {float: left; width: 100%; padding:0px 0 20px 0; text-align: center; }
.Reviews_Stars a { color:#000;  }
.buttons_added  { display: flex; margin-right: 10px;  }
.AddtoCartBtn {display: flex; }
.Product_Code {padding-top: 10px;}
.product_spec_files a.btn { margin-right: 10px; }
.ProductDetails1 .yith-par-message { margin-bottom: 20px; }

/***** cart css **************/
.shopping-cart { display: inline-block !important; }
.sidenav.MaincartRight { height: 100%; display: none; width: 100%; position: fixed; z-index: 999; top: auto; right: 0; bottom: 0; left: auto; background-color: rgba(0,0,0,0.8); /* overflow-x: hidden; */ transition: 0.5s; padding-top: 0px;}
.Maincart { width: 100%; float: right; min-height: 100%; padding: 0px 20px; background: #000; max-width: 310px; }
.MaincartBox { width: 100%; float: left; padding: 20px 0; }
.sidenav span.open_mobilecart.closebtnbox { background:red; width: 30px; display: inline-block; height: 30px !important; text-align: center; float: right !important; line-height: 30px; color: #fff; font-size: 20px; margin-bottom: 0; top: 0; cursor: pointer; }
.sidenav span.open_mobilecart.closebtnbox i { color:#fff; }
.MaincartBox .shopping-cart { margin: 10px 0 0 0; float: right; background: black; width: 100%; position: relative; border-radius: 0; padding: 0; right: 0; border: none; box-shadow: none; z-index: 9; display: block !important; }
.MaincartBox .shopping-cart a.btn { display: block; color:#fff; }
.MaincartBox .shopping-cart a.btn:hover { background-color:red; color:#fff; border-color: red; }
.shopping-cart .shopping-cart-header { border-bottom: 1px solid #333; display: flex; align-items: center; justify-content: space-between; padding-bottom: 15px; overflow: hidden; }
.shopping-cart .shopping-cart-header .mdicart i { color:#fff; font-size: 25px; }
.shopping-cart .shopping-cart-header .badge { width: 25px; height: 25px; top: -12px; line-height: 26px; background: red; position: absolute; left: 23px; border-radius: 50%; padding: 0; }
.shopping-cart .shopping-cart-items { padding-top: 10px; list-style: none; padding-left: 0; }
.shopping-cart-total { color:#fff; }
.shopping-cart .shopping-cart-items li { margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #333; overflow: hidden; position: relative; }
ul.shopping-cart-items .btn-remove { display: flex; position: absolute; top: 0; right: 0; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 50%; background-color:red; color: #fff; font-size: 12px; line-height: 1; box-shadow: 0 2px 5px rgb(0 0 0 / 20%); }
span.imgbox { float: right; border: solid 1px #ddd; text-align: center; margin: 5px 10px 0 0; }
.shopping-cart .shopping-cart-items img { float: none; margin-right: 0; }
.shopping-cart .shopping-cart-items li a { text-decoration: none; }
.shopping-cart .shopping-cart-items .item-name { display: block; padding-top: 0; font-size: 14px; color: #fff; font-weight: normal; }
.shopping-cart .shopping-cart-items .item-price { color: #fff; margin-right: 8px; font-weight: bold; }
.product1Btn { display: flex; }
.product1Btn input[type="button"] { height: 40px; background: #333; color: #fff; font-size: 25px; border: none; width: 40px; line-height: 38px; cursor: pointer; }
.product1Btn .input.text { margin: 0 3px 0 4px; }
.product1Btn .form-control { margin-right: 1px; border: solid 1px #333; color: #333; position: relative; top: 0; height: 18px; text-align: center; display: inline-block; height: 40px; width: 50px !important; border-radius: 0; }
.MainProductBox  .btn.btn-add-wishlist {
    padding: 0;
    width: 45px;
    height: 45px;
    background: #333;
    line-height: 45px; border: none;
}
.BasicproductSearch {
    margin-top: -132px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.BasicproductSearch form { display: flex; justify-content: space-between; }
.BasicproductSearch h3 { font-size: 20px; text-align: left; color:#000;  }
.BasicproductSearch .Searchselect { width: 38.5%; margin-right: 8px;  }

.BasicproductSearch .Searchselect .form-control { height:57px;  } 

.FilterTabBody .BasicproductSearch form { flex-direction: column; }
.FilterTabBody .BasicproductSearch .Searchselect { width: 100%; margin-bottom: 15px; }
.cartRedeemPointsSection { float: left; width: 100%; margin-bottom: 10px; }

.savedProducts .MainProductBox { max-width:25%;  }
.savedProducts .productbox .addocartbtn { justify-content: center; }
span.label-success.Points.label {
    display: inline-block;
    white-space: normal;
}


.productspage .BasicproductSearch {  margin:0;    }
.productspage .sidenav.mySidenavFilter .Foundjobs.FoundjobsRight .tabsbox .tab-content { border:solid 1px #ddd;   }


@media screen and (max-width:1240px) and (min-width:1024px) {

}

@media screen and (max-width:1023px) and (min-width:767px) {
.ProductWidthFixed .MainProductBox,.MainProductBox { width: 50%; margin-bottom: 20px; max-width: 50%;}
.MainProductBox .productbox .addocartbtn { justify-content: center; }
.featured_homepage { max-width: 100%;  }  
.NewProducts1 .newproducts_homepage { max-width: 100%;  }


}
@media screen and (max-width:766px) and (min-width:651px) {
.ProductWidthFixed .MainProductBox,.MainProductBox { width: 50%; margin-bottom: 20px; max-width: 50%;}
.MainProductBox .productbox .addocartbtn { justify-content: center; }
.NewProducts1 .newproducts_homepage,.NewProducts1 .featured_homepage { max-width: 100%;  }

}
@media screen and (max-width:650px) and (min-width:351px) { 
.ProductWidthFixed .MainProductBox,.MainProductBox { width: 100%; margin-bottom: 20px; max-width: 100%;}
.MainProductBox .productbox .addocartbtn { justify-content: center; }


}

@media screen and (max-width:350px) {
.ProductWidthFixed .MainProductBox,.MainProductBox { width: 100%; margin-bottom: 20px; max-width: 100%;}
.MainProductBox .productbox .addocartbtn { justify-content: center; }

}





