body {
  padding: 0 !important;
  overflow: auto !important;
 }
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;background:rgba(0, 0, 0, 0.6);}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0, -25%);-ms-transform:translate(0, -25%);-o-transform:translate(0, -25%);transform:translate(0, -25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#f1f1f1;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:none;border-radius:0;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop{position:absolute;top:0;right:0;left:0;background: transparent; z-index: 9999;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5;display:none;}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5; flex-direction: column;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.modal-dialog{margin:80px auto 30px;width:auto; max-width: 600px;}
.modal-body.ModalPopupBox{padding:0;}
.modal-dialog .modal-footer .btn + .btn{margin-bottom:0;margin-left:5px;}
.modal-dialog .btn-warning{background-color:#f0ad4e;border-color:#eea236;color:#ffffff;}
.MainFooterModal .modal-dialog .btn{-moz-user-select:none;background-image:none;border:2px solid rgba(0, 0, 0, 0);border-radius:4px;cursor:pointer;display:inline-block;font-size:14px;margin-bottom:0;padding:6px 12px;text-align:center;vertical-align:middle;white-space:nowrap;}
.Mainpopup{border-top:2px solid #dddddd;height:330px;overflow:auto;padding:15px;}
.ModalPopupBox .well { background:transparent !important; border: none !important;   }
.ModalPopupBox .firstpopup{text-align:center;padding:20px 15px;margin:0;}
.ModalPopupBox .firstpopup p { color:#333; }
.ModalPopupBox .lastpopup{padding:0 !important;margin:0 !important;}
.ModalPopupBox .lastpopup .heading-blue{padding:15px 0px; margin: 0; text-align: center;}
.ModalPopupBox .popupcontent{ text-align: center; margin:0 0 15px;}
.ModalPopupBox .btn.btn-warning.js-btn-step{background:#ffffff none repeat scroll 0 0;border-radius:5px 0 0 4px;box-shadow:-1px 1px 6px rgba(0, 0, 0, 0.5);color:#000000;float:left;font-size:42px;line-height:20px;margin:30px 0 0 -37px;padding:0 10px;position:absolute;top:37%;z-index:-1;}
.ModalPopupBox button.button.red{opacity:1;cursor:pointer;background:#010066;}
.ModalPopupBox button.button.red:focus,
.ModalPopupBox button.button.red:hover{background-color:#3a3a3c;color:#ffffff;}
.modal.fade.MainFooterModal { overflow:hidden;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: 0;
  height: 75%;
  top: auto;
  width: 100%;
}
.modal-dialog.footerModal{bottom:0;margin:0;position:absolute;right:auto;left:0;top:auto;transform:translate(0px, 0px) !important;width:100%; max-width: 100%;}
.modal-dialog.footerModal .modal-content .modal-footer{text-align:center;}
.modal-dialog.footerModal .modal-content .modal-footer .button.Greybutton{float:none;}
.modal-dialog.footerModal .modal-content{border-radius:0;}

.hide {
    display: none!important;
}
.SettingIconBox {
  border-radius: 50%;
  bottom:10px;
  color: #333;
  cursor: pointer;
  display:none;
  font-size:20px;
  height:40px;
  left:10px;
  line-height:40px;
  position: fixed;
  text-align: center;
  width:40px;
  z-index: 9;
  border: solid 1px #ddd;
}
.SettingIconBox:hover {background-color:#3a3a3c; color:#fff;   }

.button, a.button { cursor: pointer;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #001e74;
  border-radius: 4px;
  color: #001e74;
  display: inline-block;
  margin: 5px 0;
  padding:5px 29px;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  font-size:15px; 
}
.blue_bg, .blue_bg:visited, .blue_bg:focus {
  background: #001e74; color:#fff; 
}
.pix_button:hover {
  opacity: 0.7;
}
.pix_button, .pix_button:visited, .pix_button:focus { cursor: pointer;
  border-radius:4px;
  display: inline-block;
  margin: 5px 0;
  padding:5px 29px;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  font-size:15px;
}
.button:hover, a.button:hover {
  background: #001e74;
  color: #fff;
}

.modal-footer .button { text-align: center; margin: 0 auto; float: none !important;  }
.modal-footer > form {
  clear: both;
}

.ModalPopupBox .heading-blue, .ModalPopupBox h2 { margin-top: 0;  font-weight: bold; 
  color: #232323;
  font-size:15px;
  margin-bottom:10px; padding-bottom:10px; letter-spacing:0; line-height:20px;
}
.ModalPopupBox .heading-blue p, .ModalPopupBox p{  color: #232323; line-height: 25px; font-size:15px;   }