@import url('../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('../fonts/css/font-awesome.min.css');
@import url('../fonts/css/fonts.css');
@import url('./bootstrap.min.css');
@import url('../owlcarousel/owl.carousel.css');
@import url('../menu/simpleMobileMenu.css');
@import url('select2/select2.css');
@import url('./meeting-rooms.css');
@import url('../../../index.html');
@import url('../search/filter.css');
@import url('../jobs/jobs.css');
@import url('../product/product.css');
@import url('../module/cookies/modal-cookies.css');
/*@import url('../../../index.html');*/

body { font-size:15px; line-height: 20px;  margin: 0; height: 100%; }
h1 { font-size:40px; line-height: 40px; margin-top: 0; margin-bottom: 15px;   }
h2 { font-size:35px; line-height: 35px; margin-bottom: 15px; margin-top: 0;    }
h3 {font-size: 18px; line-height: 30px; margin-top: 0; margin-bottom:15px; }
h3 a { font-size: 18px; font-weight: bold; }
h4 {font-size: 25px; line-height: 25px; margin-top: 0; margin-bottom:15px; }
h5 {font-size: 18px; line-height: 18px; margin-top: 0; margin-bottom:15px; }
h6 {font-size: 14px; line-height: 14px; margin-top: 0; margin-bottom:15px; }
p { font-size: 14px; line-height: 25px; margin-bottom: 15px;   }
section { padding-top: 0; padding-bottom: 0; margin-top:80px;  float: left; width: 100%; }
a { color:#002178; }
a:hover { color:#002178; text-decoration-line: none; }
.btn, a.btn,button.btn {
    font-size: 15px;
    background: #e31837;
    color: #FFF;
    border: 1px solid #e31837;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14px;
    padding:20px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms;
    cursor: pointer;
    display: inline-block;
    width: auto;
    text-decoration: none !important;
}

.btn:hover, a.btn:hover,button.btn:hover { background-color:#000; color:#fff; border-color:#000;     }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0px auto -webkit-focus-ring-color; outline-offset: 0px; }
.smallbtn {
    padding: 0 5px;
    margin-bottom: 5px;
    line-height: 18px;
    display: inline-block;
    background: var(--blue);
    color: #fff !important;
    font-size: 75%;
    border-radius: 0.25em;
}

.ViewAll {text-align: center; padding-top: 10px; }
.CmsEditor ul,.CmsEditor ol { padding-left: 20px; margin-bottom: 15px;   }
.CmsEditor a { color: #000; text-decoration: underline;}
.CmsEditor a:hover { text-decoration: none; }

.MainLeftSide {width: 69%;  float: none; margin-left: 0; display: inline-block; }
.MainRightSide {float: right; width: 28%;  margin-bottom: 15px;}
.FullWidth .MainLeftSide { width: 100%;  }
.LeftPanl .MainRightSide { float: left; margin-right: 20px;  }
.RightPanl .MainRightSide { float: right;  }
/**** header start ***/
/**** top header start  ***/
header .headertop { border-bottom: solid 1px #ccc; font-size: 13px;  padding: 5px 0;  width: 100%;  transition: all 300ms linear 0ms; }
header .headertop .headerbox { display: flex;  justify-content: space-between;}
header .headertop span.Emailbox {margin-right: 10px; }
header .headertop span.Emailbox a { color:#000;  }
header .headertop span.Emailbox a:hover { color:#000; text-decoration: underline; }
header .headertop .socalmediafooter ul { margin: 0; padding: 0;  }
header .headertop .socalmediafooter ul li  { list-style: none;  display: inline-block;  margin: 0 3px; }
header .headertop .socalmediafooter ul li a { color: #000; display: inline-block;  font-size: 16px;  height: auto;  line-height: 20px;  width: 30px;  transition: all 0.5s;   text-align: center; }
header .headertop .socalmediafooter ul li a:hover { color:red;  }
header .headertop .headerRight { display: flex; align-items: center; }
header .headertop .headerLeft { display: flex; }
header .headertop .Emailbox,
header .headertop .Phonebox {margin-right: 10px;} 

/**** top header End ***/
span.open_mobilecart { position: relative;  }
.open_mobilecart i { font-size: 20px; color:#000; }
span.open_mobilecart span.badge { width: 25px; height: 25px;display: inline-block; line-height: 25px;  position: absolute; top:-10px; color:#fff;  background:red; padding: 0; border-radius:50%; }
header .headerMenu .menu { display: flex; justify-content: space-between; align-items: center; }
header .headerMenu { float: left;  width: 100%; display: flex; justify-content: space-between; align-items: center; }
header .logo-left { float: left; padding:13px 0 13px 0;  width: auto;  text-align: center;}
header .logo-left a { display: inline-block; }
header ul.RegistrationBox { float: right; margin:0;  position: relative; padding:0 0 0 20px;}
header ul.RegistrationBox li.displaynone1 { display: none; }
header ul.RegistrationBox li { display: inline-block; padding:0px 0 0 0; }
header ul.RegistrationBox li a { color: #000;  font-weight: normal;  font-size: 15px;  padding:0;  display: inline-block;  text-decoration: none; text-transform: none; }
header ul.RegistrationBox li a i { margin-right: 5px; }
/*header ul.RegistrationBox li.LogInbtn a.red i { display: none;}
header ul.RegistrationBox li.LogInbtn a.red i {  display: none;}*/
/******* Mobileview Header Css *****/
.headerMobile {background: #000;  bottom:0; position: fixed;width: 100%; z-index:9999; display: none; }
.headerMobile .container { width: auto; padding: 0;      }
.headerMobile .RegistrationBox {   }
.headerMobile ul.RegistrationBox li ul.submenuCandidates,.headerMobile ul.RegistrationBox li:hover ul.submenuCandidates { display: none ;   }
.headerMobile .open_mobileview { display: inline-block !important; cursor: pointer;  }
.headerMobile ul.RegistrationBox li .btn.blueBtn { display: none;  }
.MobileMenuBox ul.RegistrationBox li ul.submenuCandidates {position: relative; width: 100%; display: block; text-align: center; }
.headerMobile ul.RegistrationBox li .btn.red { padding:0; margin: 0; background: transparent; border: transparent; }
.headerMobile ul.RegistrationBox li .btn.red:hover { background: transparent;  }
.headerMobile ul.RegistrationBox li .btn.red .LogIn { display: none;  }
header ul.RegistrationBox li a.btn.red .fa.fa-users { display: none;  }
.headerMobile .open_mobileview.closebtn .fa-bars { display: none;  }
.headerMobile .open_mobileview .fa-times { display: none;  }
.headerMobile .open_mobileview.closebtn .fa-times { display: inline;   }
.headerMobile .open_mobileviews.closebtn .fa-user { display: none;  }
.headerMobile .open_mobileviews .fa-times { display: none;   }
.headerMobile .open_mobileviews.closebtn .fa-times { display: inline; }
.sidenav.MobileMenu .MobileMenuBox .RegistrationBox .open_mobileviews {display: none;}
.headerMobileBox .open_mobileviews span.open_mobileviews {cursor: pointer;  }
.headerMobile ul.RegistrationBox li.displaynone1 { display: none;}
.open_mobileview { display:none;  }
.scrollBox { max-height: 500px;  overflow-x: auto; padding-bottom: 50px;}
.headerMobileBox {display: flex; justify-content: space-between;  padding: 15px 20px;}
.headerMobile i { color:#fff; font-size: 30px;     }
.sidenav {  height:100%; display: none; width:100%;  position: fixed;  z-index:999;  top:auto; bottom: 0;  left: 0;  background-color: #111;  overflow-x: hidden;  transition: 0.5s; padding-top: 0;}
#mySidenavright {  height:100%; display: none;  width:100%;  position: fixed;  z-index:999;  top:auto; right:0; bottom: 0;  left: auto;  background-color: #222;  /*overflow-x: hidden;*/  transition: 0.5s;  padding-top:0px;}
.sidenav .closebtn { background: #d51f38 none repeat scroll 0 0;color: #fff; font-size: 36px;  height: 30px;  line-height: 21px;  margin-left: 5px;  padding: 0;  margin-bottom: 10px;   position: relative;  right:auto; left: 0;  text-align: center;  text-decoration: none;  top:5px;  width: 30px;  display: inline-block;}
.MobileMenuBox .RegistrationBox { list-style: none; padding: 0; margin-top: -16px;   }
.sidenav .closebtn:hover { text-decoration: none; color:#f17b8b;   }
.MobileMenuBox .RegistrationBox li a.btn.red { background:#d51f38; border-color:#d51f38;  }
.MobileMenuBox .RegistrationBox li a.btn.red:hover { background:#078fb6; border-color:#078fb6; color:#fff;     }
.MobileMenuBox .RegistrationBox li a.btn.blueBtn:hover { background:#078fb6; border-color:#078fb6; color:#fff;     }
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.open_mobileview { display:inline-block;  }

}
ul.MobileMenuBox { text-align: center; list-style: none; padding: 0;  }
.MobileMenuBox li a { color:#fff;  text-decoration: none;  padding:8px 0;  display: block;font-weight: bold;  } 
.MobileMenuBox li a:hover { background:#888;}
.MobileMenuBox li .SubMenus { list-style: none; background:#999; padding: 0;    }
.MobileMenuBox li .SubMenus li a {  font-weight: normal;    }
.MobileMenuBox li .SubMenus ul.SecondSubMenus {list-style: none; background:#018ab1; padding:10px 0;  }
.MobileMenuBox li .SubMenus ul.SecondSubMenus li a { font-size: 15px;   }
header ul.RegistrationBox .open_mobileviews { display: none;   }
/******* mobileview End css******/
/**** header End ***/
/**** SERVICES css start ***/
.service-box { float: left;  text-align: center;  margin-bottom: 15px; }
.service-box img.iconimg { align-items: center;  border:1px solid #ddd; padding: 3px; display: flex;  margin: 0 auto; width: 100%; }

.service-box h3 { margin:15px 0 10px 0; text-transform: none; }
.service-box h3 a {font-weight: bold;  margin: 0;  color: #000;  text-decoration: none; }
.service-box h3 a:hover { text-decoration: none;  }
.service-box p.ServicesContentBox { min-height: 180px;  margin-bottom:0;  }
.service-box p { line-height: 25px; margin-bottom: 15px; }
.Servicelisting p.ServiceSummary { min-height: 210px; }
.Servicelisting .services-content a:hover { text-decoration: none;  }
a.textLinks { color:#000; font-weight: bold; }
.service-box.full .iconbox {float: left; margin-right: 20px;    }
.service-box.full { text-align: left;  }
.service-box.full P { margin-top: 0; margin-bottom: 15px; }
/**** SERVICES css End ***/

/**** Insights css start ***/
.LatestInsights { display: flex; justify-content: space-between; width: 100%; }
section.SectionInsights .NewinsightsBox { width: 33%;  }
section.SectionInsights .insightsBox .news-short {  min-height: 310px; }
.insightsBox { margin-top: 0; margin-bottom:40px;   transition: box-shadow 0.3s ease 0s; float: left; }
.insightsBox img { max-width: 100%; height:auto; width: 100%;  }
.insightsBox .news-block { border: none; border-radius: 0; background: none;  padding: 15px; text-align: left; overflow: hidden; }
.insightsBox .dateBox {
    font-size: 20px;  
    font-family: 'geographlight';
    font-feature-settings: 'ss01', 'ss03';
    color:#002178; 
 }
.Insights3 { overflow: hidden; position: relative; }
.insightsBox a { text-decoration: none;  color: #3B454C; }
.insightsBox .news-block { border: none; border-radius: 0; background: none;  padding:25px 0;  text-align: left; overflow: hidden; }
.insightsBox .publisheddate { margin: 10px 0 30px 0; display: inline-block; width: 100%;  }
.insightsBox span.BlogPostCategorys { margin-bottom:20px; display: inline-block;  width:auto;  }
.insightsBox h3 { overflow: hidden;  padding: 0 0px;  text-transform: none;    display: block;  height:65px; }
.digi-elements .insightsBox .news-block h3 a { color: #002178; text-decoration: none;  font-size: 30px; font-family: 'geographmedium'; font-weight: 500; }
.insightsBox .news-block h3 a:hover { text-decoration: none; color:#3cf0ff;   }
.insightsBox .news-short {    margin-bottom: 15px; min-height: 180px; }
.blog1.OtherInsights .insightsBox .news-short { min-height: 271px;  }
.insightsBox .news-block .news-short p { line-height: 1.5; font-size: 20px;   
    font-family: 'geographlight';
    font-feature-settings: 'ss01', 'ss03';
    color:#002178; 
}
.insightsBox a.link:hover { text-decoration: underline;  }
.blogdetail .blog-feature {
    margin-bottom: 20px;
}
a.link { color: #000; text-decoration: none;  font-weight: 600; }
/*.insightsBox:hover { box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }*/
.blogCategoryBox ul { list-style: none; padding: 0; margin: 0;  }
.blogCategoryBox ul li { margin-bottom: 10px; border-bottom: solid 1px #ddd;  padding-bottom: 10px; }
.blogCategoryBox ul li a { text-decoration: none;   }
.blogCategoryBox ul li a:hover { text-decoration: underline;  }
.category_insights, .blogCategoryBox { background-color: #fff; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);    border-radius: 5px;    border: solid 1px #eee;    padding: 15px; margin-bottom: 20px; }
.category_insights ul.latest-post { list-style: none; padding: 0; margin: 0; }
.category_insights ul li { margin-bottom: 10px; border-bottom: solid 1px #ddd;  padding-bottom: 10px; }
.category_insights .latest-post li figure { float: left; height: 33px; width: 100px; margin: 0 10px 0 0; height: 70px; overflow: hidden; }
.category_insights .latest-post li figure img { max-width: 100%; height: 70px; }
.category_insights .TextContent {padding-left: 0; }
.category_insights .TextContent a.text-extra-dark-gray { display: block; line-height: 18px; color: #000; height: 40px; }
.blogdetail .Bloglist .blog-feature img {width: 100%; margin-bottom:20px; }
.Subscribeblogs { background: #f5f5f5;border: #ddd solid 1px; padding: 15px; overflow: hidden;  margin-bottom: 25px;  margin-top: 30px; }
.customFlashMsg { position: relative;}
.Subscribeblogs h3 {  margin-bottom: 10px;}
.BlogSubscribers { position: relative;}
.BlogSubscribers #BlogSubscriberForm {padding: 0;}
.BlogSubscribers .inputBox {float: left; width: 100%; margin-bottom: 10px; }
.BlogSubscribers .submit { position: absolute; right: 0; top: 25px; }
.categories_top_Box {margin:0px 0 0 0 ; padding:0px 0px; }
.MainCategoriesTop {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.categories_top_Box ul { list-style: none; padding: 0 !important; margin: 0 !important; }
.categories_top_Box ul li { display: inline-block; margin-right: 10px; }
.categories_top_Box ul li a { color: #575560; margin-left: 26px; position: relative; margin: 0; }
/*.categories_top_Box ul li a::before { color: #575560; content: "\f105"; font-family: FontAwesome; font-size: 1.1em; line-height: 20px; margin-left: -15px; position: absolute; }*/
.blog-feature img { width: 100%;  }
.insightcategory { padding: 0 0 10px 0; margin: 20px 0 10px 0; border-bottom: solid 1px #ddd;}
.insightcategory span { margin-right: 10px; }
.insightcategory span:before {content: "\f105"; font-family: FontAwesome; margin-right: 5px; }
section.SectionInsights .Main_insights .insightsBox { width:32%; margin-right: 20px;  }
section.SectionInsights .Main_insights .insightsBox:nth-child(3) { margin-right: 0;  }
.rss_listing .blog .insightsBox { width:32%; margin-right:20px;   }
.rss_listing .blog .insightsBox:nth-child(3n + 3) { margin-right: 0;   }
.rss_listing .blog .insightsBox h3 { height: 65px;  }
.rss_listing .blog .insightsBox .news-short { min-height: 80px;  }

ul.latest-post {padding: 0;}
/**** Insights css End ***/

/**** Faqs css start ***/
.MainFaqs .Titlebox { text-align: center;  margin: 0 0 20px 0;}
.MainFaqs .Titlebox h2 { color:#fff;   }
.MainFaqs h6 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}
.MainFaqs .panel-group .panel { margin-bottom: 0; border-radius: 4px; }
.MainFaqs .panel { margin-bottom:0px; box-shadow: none; border-bottom:solid 1px #ddd; }
.MainFaqs .panel .panel-heading { padding: 0; box-shadow: none; border: none;  }
.MainFaqs .panel-body { padding: 15px 0; }
.MainFaqs .panel-body ul { padding:0 0 15px 20px;   }
.MainFaqs .panel-group .panel-heading { border-bottom: 0; padding: 0; }
.MainFaqs .panel-group { margin-bottom: 0;   }
.MainFaqs .panel-heading a:hover { color: #000;  }
.MainFaqs .panel-heading a { padding: 10px 0;  border-top-left-radius: 3px; border-top-right-radius: 3px; display: block; margin-bottom: 0; position: relative; color:#000; font-weight: bold; }
.MainFaqs .panel-heading a[aria-expanded="false"] i:before { content: "\f067"; position: absolute; right: 0; font-family: 'FontAwesome'; font-style: normal; }
.MainFaqs .panel-heading a[aria-expanded="true"] i:before { content: "\f068"; position: absolute; right: 0; font-family: 'FontAwesome'; font-style: normal; }
.MainFaqs .collapse { display: none }
.MainFaqs .collapse.in { display: block }
.MainFaqs .collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: .35s; -o-transition-duration: .35s; transition-duration: .35s; -webkit-transition-property: height, visibility; -o-transition-property: height, visibility; transition-property: height, visibility }
/**** Faqs css End ***/
/**** Footer css start ***/
.footermain { border-top:solid 1px#ddd;  padding:20px 0 0 0;  width: 100%;   overflow: hidden;    text-align: center;    position: relative; float: left; margin-top:80px; }
.footermain ul { list-style: none;   padding: 0;    margin: 0;}
.footermain ul li {  text-align: left;    margin: 0;    line-height: 25px;   width: 100%; }
.footer-menu ul li strong {  color: #000;    font-size: 20px;      line-height: 32px;    text-transform: none;    font-weight: normal;   margin-bottom: 15px;    display: inline-block;    text-align: left; }
.footermain ul li a {  color: #000;    text-decoration: none;}
.footermain ul li a:hover { text-decoration: underline;  }
.FooterBox h3 {    color: #000;  font-size: 20px;    line-height: 32px;    margin-bottom: 18px;    font-weight:normal;    margin:0 0 15px 0;    text-align: left;}
.footermain .FootreMenu .socalmediafooter { float: left;    margin: 10px 0 0 -10px;}
.footermain .socalmediafooter ul li {  margin-left: 5px;    width: auto;    display: inline-block;}
.footermain .socalmediafooter ul li a {   color: #000;    display: inline-block;    font-size: 16px;    height: auto;    line-height: 20px;    width: 30px;    transition: all 0.5s;    text-align: center;}
.footermain .footer-bottom {    position: relative;    border-top: 1px solid rgba(112,111,111,0.5);    background: #fff;    float: left;    width: 100%;    padding:15px 0;    margin-top:20px;}
.footermain .footer-bottom .Copyrightbox {  float: left; width: 100%; text-align:center;}
.logo-footer {    float: left;    max-width: 110px;}
.logo-footer img { max-width: 100%; }
.Copyright01 {  color: #000;    font-weight: normal;    float: left;    margin-left: 0; width: 100%;}
.footermain .Copybox1 {    margin-bottom: 8px;}
span.firstpipe {   margin: 0 5px;}
.footermain .Menulike {   text-align: center;}
.footermain .footer-bottom .Copyrightbox a {    color: #212121;    text-decoration: none; }
.footermain .footer-bottom .Copyrightbox a:hover { text-decoration: underline;  }
.WSlinkBox { margin:8px 0 0 0;    float: right; width: 100%;}
.WSlinkBox a {  color: #555555;    text-decoration: none;}
.back_to_top.on {  cursor: pointer;    margin-bottom: 0;  bottom:10px; position: absolute; right: 20px; font-size: 30px;   color: #212121;    font-weight: normal;    text-align: right; }
.socalmediafooter {text-align: left; margin-top:0px;}
footer.footermain .form-control { height:57px;  }

/****** Cms Pages pages css ***/
.service.CmsPage { clear: both;  float: none;  padding: 75px 0 75px 0;  color: #888;  background: url('../../../img/Front/aboutbg.jpg') repeat;  text-align: center;  background-size: 100%; position: relative; margin: 0; }
.service.CmsPage .title {margin-bottom: 0; text-align: center; border: none; }
.service.CmsPage h1 { font-size:25px; letter-spacing: 0.05em;  line-height: 40px;  margin:0 0 10px 0; }
.service.CmsPage .sub-title { text-align: center; }
.service.CmsPage .sub-title a { color: #888;}
.service.CmsPage .titleBox { position: relative; z-index:9;  }
.service.CmsPage .overlay { display: none !important; z-index: 1;  position: absolute;  background-color: var(--blue);  opacity: 0.73;  left: 0;  right: 0;  width: 100%; height: 100%; top: 0; }

ul.acocuntMenu { display: flex; justify-content: center; list-style: none; margin: 0; padding: 0; color:#fff; }
ul.acocuntMenu li { margin: 0 8px;  }
ul.acocuntMenu li a { color:#000; }

.Passbtn1 button.btn.btn-primary {
    padding: 8px 15px;
    text-transform: none;
    font-weight: normal;
}
.candidateMyProfile .dropbox_GooglePicker {right:0;   }
.ApplyjobCvrltr .dropbox_GooglePicker { right:0;  }



.shareThisBox { float: left; width: 100%; text-align: center; margin-bottom:20px;  margin-top: 15px; }
.shareThisBox h4 { font-size: 18px; margin: 0 0 20px 0;  letter-spacing: 0.05em; }
.shareThisBox ul.sharethis { margin-left: 0; margin-bottom: 0; }
.shareThisBox ul li {display: inline-block;       }
.shareThisBox .sharethis li a { color: var(--blue); border-radius: 50%; border: solid 1px #ddd; width: 40px;  height: 40px; line-height: 40px;  cursor: pointer; display: inline-block; }
.shareThisBox .sharethis li a:hover {   border: solid 1px #000;  }

/****** TestimonialsBox css ***/
section.testimonials {
    width: 100%;
    float: left;
    padding: 80px 0;
    text-align: center;
    background: #f3f3f3;
}
section.testimonials .TestimonialsBox .iq1 { color: #f7f6f8;  font-size: 135px; font-weight: 600; left: 0;  line-height: 1;  position: absolute; top: 0; }
section.testimonials .TestimonialsBox .content11 {padding: 0px 10px 0 10px; position: relative;  z-index: 9; }
section.testimonials .TestimonialsBox .iq2 { bottom: 0;  color: #f7f6f8;  font-size: 135px;  font-weight: 600; line-height: 1;  position: absolute;  right: 0; transform: rotate(180deg); }
.testimonialPages .testimonialBox:nth-child(2n+0) {background-color: #f5f5f5; }
.testimonialPages .testimonialBox { overflow: hidden;  padding: 20px;  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);  background-color: #fff;  margin: 0 0 20px 0; }
.testimonialPages .testimonialBox:nth-child(2n+0) .testimonial-left {  float: right;  transform: rotate(-177deg); }
.testimonialPages .testimonialBox .testimonial-left { float: left;  margin-right: 15px;   max-width: 38px;  opacity: 0.2; }
.testimonialPages .testimonialBox:nth-child(2n) span {  float: right;  margin-top: 5px;  text-align: right;  width: 100%;}
.testimonialPages .testimonialBox:nth-child(2n+0) p,.testimonialPages .testimonialBox:nth-child(2n+0) span { padding-left: 0;  padding-right: 50px;  text-align: right;}
.testimonialPages .testimonialBox span { display: block; font-weight: bold; }
.testimonialPages {margin-bottom: 30px;         }

/***** Contact Page css start ******/
.contactPage { background: #f8f9f9;  margin-bottom: 0px; padding-bottom: 10px; margin-top: 0;  padding-top: 35px; }
.contactPage .MainAddress {overflow: hidden; margin-bottom: 35px; }
.contactPage .box { background: #fff;  border: 1px solid #ebebeb;  padding: 20px; overflow: hidden;  min-height: 170px; }
.contactPage .AddressBox .Cntbox { width: 25%; text-align: left;  float: left;  height: 100px; }
.contactPage .AddressBox .Cntbox span {  font-weight: bold; display: block;  padding-bottom: 8px; }
.contactPage .AddressBox .Cntbox p {display: block; margin-bottom: 15px;   margin-right: 10px; }
.contactPage .AddressBox .Cntbox ul {padding: 0; margin: 0 0 10px 0; }
.contactPage .AddressBox .Cntbox li {list-style: none; float: left;  margin-right: 5px; }
.contactPage .AddressBox .Cntbox li a {width: 30px;height: 30px; display: block; }
.Mapbox { clear: both; margin-top:0; margin-bottom:-6px; float:left; width: 100%; }
.Mapbox iframe {  width: 100%; height: 500PX; }
.contact_from { margin-bottom: 30px;}
/***** Contact Page css End ******/
/***** Login Pages css start ******/
.container.LoginPages.forgotPasswordNew { display: flex ; justify-content: space-between; }

.container.LoginPages { padding-bottom: 30px;  }
.Loginbox { width: 70%;  float: right;}
.Loginbox h2.contact-page-title { text-align: left;  line-height: 25px;  width: 100%;  position: relative;  margin: 0 0 20px; }
.Loginbox .inputBox { margin-bottom: 0px; width: 48.5%;  float: left;  margin-right: 20px; margin-bottom: 10px;  position: relative; }
.Loginbox .divbox .inputBox  { width: 100%; }
.inputBox.login_with_linkedin_google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.Loginbox .inputBox label { margin-bottom: 5px;  display: block;}
.Passbtn { position: absolute; right: 0; top: 25px; }
.Passbtn .btn.btn-primary {margin-left: 10px;  padding: 5px 20px;  height: 56px;  border: none; background:#333;  border-radius: 0 4px 4px 0; }
.LoginPages .ForgottenBox.inputBox { padding-top:6px; width:80%; }
.LoginSubmit.inputBox { float: right; width: auto; margin: 0; }
.registerboxnew.Loginbox { border: solid 1px #ddd;  width: 27%;  margin: 0 30px 20px 0; }
.registerboxnew.Loginbox .registerboxbox01 { padding: 35px;}
.registerboxnew.Loginbox h2.contact-page-title { margin-bottom: 20px; font-size: 18px;  line-height: 30px; text-align: center; }
.registerboxnew.Loginbox a.btn.blueBtn { border: solid 2px #ddd; }
.Loginbox {margin: 0;  padding: 20px;  overflow: hidden;  border: solid 1px #eeeeee; }
.Signinpages .SigninBox.Centerwidth {
    float: left;
    width: 100%;
}
.Signinpages .SigninBox.Centerwidth .Loginbox { float:left;   }
.Signinpages .SigninBox.Centerwidth .ForgottenBox {
    float: left;
}

/*.forgotPasswordNew {max-width: 500px; margin: 0 auto;}*/
.forgotPasswordNew .ForgottenBox.inputBox {width: 100%; padding-top: 0; }
.forgotPasswordNew .Loginbox { margin: 0 auto; float: none; }
label.error { color:#FF6200; font-weight: normal;  position: relative; font-size:16px}
label.error:before { content: "\f071"; font-family: 'FontAwesome'; margin-right: 5px; }
/******* custom checkbox ******/
.form-control { height:56px; padding: 10px 12px; border-radius:0;  }
label.Checkboxes.custom-control { padding: 0 20px 0 0; }
.Checkboxes .custom-control-label { font-weight: normal; padding-left: 30px; display: inherit; }
.Checkboxes .custom-control-label p { line-height:20px;  }
.custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: var(--blue); background-color: var(--blue); }
.Checkboxes.custom-control input { margin: 7px 0 0; opacity: 0; position: absolute; }
.custom-checkbox .custom-control-label::before { border-radius: 0; }
.contact-form.Getintouch .Checkboxes .custom-control-label a { color: var(--blue); }
.contact-form.Getintouch .Checkboxes .custom-control-label a:hover { color: var(--blue); }
.custom-control-label::before,
.custom-file-label,
.custom-select { transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.custom-control-label::before { background-color: #fff; border: 1px solid var(--blue); content: ""; display: block; height: 16px; left: 0; pointer-events: none; position: absolute; top:3px; width: 16px; }
.custom-control-label::after { position: absolute;  top: .25rem;
left: -1.5rem; display: block; width: 1rem; height: 1rem; content: ""; background: no-repeat 50%/50% 50%; }
.custom-control-label { position: relative; margin-bottom: 0; vertical-align: top; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::after { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #fff; border-image: none; border-style: solid; border-width: 0 2px 2px 0; height: 10px; left: 6px; top: 4px; transform: rotate(45deg); width: 5px; }
.Checkboxes.custom-control.custom-checkbox { position: relative; width: 100%; padding: 0 0 10px 0;     color: var(--blue);     font-size: var(--P-content);
    font-family: 'geographlight';
    font-feature-settings: 'ss01', 'ss03';
      }
.Checkboxes.custom-control.custom-checkbox label.error { bottom:-25px; font-size:14px; left:30px; position: absolute; }
.checkBxtext { margin-bottom: 20px; }
.CandidateReg .Checkboxes.custom-control.custom-checkbox label.error { bottom:-15px; left:30px; }
/******* custom checkbox End ******/
/******* custom radio ******/
.custom-radio.custom-control-inline .custom-control-label { padding: 1px 0 0 30px; }
.custom-radio.custom-control-inline { display: -ms-inline-flexbox; display: inline-flex; margin-right: 20px; }
.custom-radio .custom-control-input { position: absolute; z-index: -1; opacity: 0; }
.custom-radio { position: relative; margin-bottom:10px; vertical-align: top; }
.custom-radio .custom-control-label::before { border-radius: 50%; }
.custom-radio .custom-control-label::before,
.custom-radio .custom-file-label,
.custom-radio .custom-select { transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.custom-radio .custom-control-label::before { position: absolute;  top:0;
left: 0; display: block; width: 20px; height: 20px; pointer-events: none; content: ""; background-color: #fff; border: var(--blue) solid 1px; }
.custom-radio .custom-control-label::after { position: absolute;  top: .25rem;
left: -1.5rem; display: block; width: 1rem; height: 1rem; content: ""; background: no-repeat 50%/50% 50%; background-color: #fff; }
.custom-radio .custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: var(--blue); background-color: var(--blue); }
.custom-radio .custom-control-input:checked~.custom-control-label::after { background: var(--blue) none repeat scroll 0 0; border-radius: 50%; height: 14px; left: 4px; top: 4px; width: 14px; }
/******* custom radio End  ******/
/*** Registration candidate pages css ***/ 
span.text-primary {color: red;}
.dropbox_GooglePicker { margin: 0;  position: absolute;  top: 0px; right:10px;  float: right; background:#fff; padding-left:10px;  border-left: solid 1px #ccc; }
.dropbox_GooglePicker a, .dropbox_GooglePicker a { border: 1px solid #ddd; border-radius: 0;  color: var(--blue);  display: block; float: left; line-height: 18px;  margin-right:0px; margin-left: 5px;  max-width: 170px;  overflow: hidden; padding:18px 10px;  text-align: center;  text-decoration: none; }
.CandidateReg .form-group.PositionFixedBox {text-align: center; width: 100%;  margin-bottom: 20px; }
.forgotPasswordNew .Loginbox .inputBox { width: 100%; }
.forgotPasswordNew .LoginSubmit.inputBox { width: 100%; margin: 0 0px 10px 0; }
ul.RegistrationBox li ul.submenuCandidates { background:#fff; display: none; height: auto; position: absolute; width: 225px; z-index: 200; margin: 0;  right: 0; padding: 0;}
ul.RegistrationBox li:hover ul.submenuCandidates { display: block;  }
ul.RegistrationBox li ul.submenuCandidates li { padding: 0 0 ;  display: block; width: 100%;}
ul.RegistrationBox li ul.submenuCandidates li a { text-transform: none; padding:10px 10px; border-bottom: solid 1px #ddd; display: block; font-size:14px;  color:#555; text-decoration: none;   }
ul.RegistrationBox li ul.submenuCandidates li a:hover, ul.RegistrationBox li ul.submenuCandidates li.active a { background-color:#000; color: #fff;  }
ul.RegistrationBox li ul.submenuCandidates li.redBOX { background:red; color:#fff; text-align:center;    }
ul.RegistrationBox li ul.submenuCandidates li.redBOX a { color:#fff;  }
ul.RegistrationBox li.menuCandidates a { padding-right:0;  }
.Candidated_Form .form-group .fileUpload02 { position: relative;  width: 100%; }
.Candidated_Form .form-group .PasswordBox1 {  float: left; margin-right: 20px; width: 48.4%;  position: relative; }
.form-group { overflow: hidden;  }
.form-group.PositionFixedBox { width: 100%;  text-align: center;  margin: 0 0 30px 0; }
/***** RegistrationBox css End ***/
.modal-body.ModalBox .formDiv.tabsbox ul.facet-links { width: 100%;}
.ModalBox .tabsbox .facet-links li {padding: 5px 0; border-bottom: solid 1px #DDD; text-align: left; width: 100%; }
.modal-body.ModalBox { text-align: center;  }
.modal-body.ModalBox button.btn.btn-default { margin-top: 10px; }
.bootbox .modal-footer { text-align: center; }
.bootbox .modal-footer button.btn.btn-default { background: #4b4b4d; border: solid 2px #4b4b4d;  color: #ffffff; border-radius: 0; }
.bootbox .modal-footer button.btn.btn-primary { background: #d51f38; border: solid 2px #d51f38; color: #ffffff; border-radius: 0; }
.bootbox .bootbox-close-button.close {background: #d51f38 none repeat scroll 0 0;color: #fff;float: right;height: 30px;margin-right: -45px;margin-top: -15px !important;opacity: 1;width: 30px;border: none;line-height: 16px;cursor: pointer;font-size: 20px; }
.bootbox .modal-content {border: none;border-radius: 0; }
nav.main-menu.pageBtn ul { list-style: none; padding: 0; margin: 0; text-align: center;    }
nav.main-menu.pageBtn ul li { display: inline-block;   }
nav.main-menu.pageBtn ul li a { display: inline-block; padding:25px 60px;  border: solid 1px #ddd; text-decoration: none;  } 
nav.main-menu.pageBtn ul li a:hover { background-color:#000; border: solid 1px #000; color:#fff;      }
.CandidatesNew02 {
    margin: 20px 0 30px 0;
}
.CandidatesNew02 nav.main-menu.pageBtn ul li { margin: 0 2px;   }
.CandidatesNew02 nav.main-menu.pageBtn ul li a { padding:10px 25px; background:var(--blue); border: solid 1px var(--blue); color:#fff; }
.CandidatesNew02 nav.main-menu.pageBtn ul li a:hover { background:#000; border-color: #000; }

.landing_page .DeleteAccountbox {text-align: center; margin-bottom: 25px;}
.create_alertpages .form-horizontal .form-group { margin-left: 0; margin-right: 0; overflow: initial; margin-bottom:25px;   }
.create_alertpages .form-horizontal label.error { position: absolute;  }
.create_alertpages .CreateJobInput { margin:0 0 25px 0;}
.create_alertpages .ms-options-wrap > .ms-options {  left: 15px;  width: 97.5%; font-weight: normal;}
.create_alertpages .job-search-form { flex-direction:column;   }


section.main-slider a.advanceSearchLink { float: right;   }
.stickyfooterBtn {float: left; width: 100%; }
.stickyfooterBtn .btn { display: inline-block !important; margin-right: 10px;  }

.getintouch { margin-bottom: 30px;   }
.getintouch ul { list-style: none; padding: 0; margin: 0; }
.getintouch ul li { text-align: center; width:33%; display: inline-block;  }
.getintouch ul li h5 { font-weight: bold;  }
.getintouch ul.Socialbox li { width: auto; margin: 0 10px;  }

/***** Team Css Add ***/  
.MainTeamBox { text-align: center; padding: 0; margin-bottom: 20px; }
.MainTeamBox .imagesbox  { border: solid 1px #ddd;margin-bottom:15px; padding: 2px;  }
.MainTeamBox .imagesbox img { width: 100%; }
.MainTeamBox h4 a { text-decoration: none; color:#000 ; font-size: 18px;  font-weight: bold;}
.MainTeamBox i {margin-right: 5px;}
.mobile_number { margin-bottom: 10px;  }
.email_address { margin-bottom: 10px;  }
.our-team ul { padding: 0; margin: 0; list-style: none;  }
.our-team ul li { border: solid 1px #ddd; float: left; width: 23.6%; margin-right: 20px; padding: 10px;  min-height: 620px;}
.our-team ul li:nth-child(4n+4) { margin-right: 0; }
.our-team ul li img { width: 100%; margin-bottom: 10px;  }
.our-team ul li p.profilename {font-weight: bold;}
.TeamContact { margin-top: 15px; margin-bottom: 15px; }
.TeamContact .ContactTeam { margin-bottom:15px;  }
.our_team_imageright .smallsocial a { margin: 0 5px;  }
.our_team_imageright .smallsocial a:hover { color:red;  }
.TeamContactRight {float: left; width: 73%; }
.our_team_imageright {float: left;margin-right: 20px; text-align: center; }
.border {border: solid 1px #ddd;padding: 5px; }
.text-small { padding-bottom: 10px;  }
/***** Team Css End ***/  
.job-newsletter .submitbox { position: absolute; float: right; margin: 0; background: #fff; top: 25px; right: 0; }
.job-newsletter {
    position: relative;
    border: solid 1px #ddd;
    overflow: hidden;
    padding: 15px;
}
.job-newsletter .submitbox .btn { padding: 11px 20px; }
.job-newsletter .Newsletterleft { float: left; width: 50%; }    
.job-newsletter p { margin-bottom: 0; }
.job-newsletter h3 { font-size: 35px; margin: 0 0 10px 0;  }
.job-newsletter label.col-sm-2 { display: none; }
.job-newsletter form { float: right; width: 48%; padding-top: 25px; position: relative;}

/***** Main Right Side All Css Add ***/  
.MainRightSide .container { width: auto; padding: 0; }
.MainRightSide section.MainFaqs.cellFaqs { margin-top: 0; margin-bottom:30px;   }
.MainRightSide section.JobsByIndustry ul li  { width: 100%;  }
.MainRightSide .jobsearchright { margin-bottom: 30px;   }
.MainRightSide .jobsearchright .searchBox .Searchselect { width: 100%; margin-bottom: 10px;  }
.MainRightSide .jobsearchright a.advanceSearchLink { float: none;  }
.MainRightSide section.section_gallery .Mainjobbox1 { width: 100%;  }
.MainRightSide .job-newsletter label.col-sm-2 {width: 100%;   }
.MainRightSide section.service  .MainserviceBox { width: 100%;   }
.MainRightSide section.our-team ul li {width: 100%; margin-bottom:10px; margin-right: 0;     }
.MainRightSide section.our-team .row { margin: 0;  } 
.MainRightSide section.getintouch ul li { width: 100%;  }
.MainRightSide section.getintouch ul.Socialbox li {width: auto !important;}
.MainRightSide.LeftPanl .container { padding: 0;  }
.MainRightSide .NewinsightsBox { width: 100%;  }
.MainRightSide .contactForm .col-sm-2 {width: 100%;}
.MainRightSide .contactForm .submitbox { text-align: center;  }
.MainRightSide .Loginbox { width: 100%; margin:20px 0 0 0; }
.MainRightSide .Loginbox .inputBox {width: 100%; }
.MainRightSide section.SectionInsights .Main_insights .insightsBox { width: 100%; }
.MainRightSide section.SectionInsights.IndustryNews .latest-post .insightsBox { width: 100%;    }
/***** Main Right Side All Css End ***/  
.MainRightSide .shareThisBox { margin-top: 0; margin-bottom: 30px;    }
.Tabbox { border-bottom: 1px solid #ddd; margin:0 -15px 15px -15px; padding:0; display: flex ;     justify-content: center; text-align: center; }
.Tabbox > ul { margin: 0 0 0 0; list-style: none;}
.Tabbox li { float: left; text-align: center;  margin-right: 10px;}
.Tabbox li a { padding:10px 20px; display: block; border: solid 1px #ddd; border-bottom: transparent; position: relative; bottom: -3px; background: #fff;}
.Tabbox li a.btn { background: #747e88; height: auto !important; border: 1px solid #747e88; border-radius: 0; color: #fff !important; cursor: pointer; display: block; float: none !important; font-size: 15px; line-height: 25px; padding: 8px 20px 8px 20px; text-align: center; text-decoration: none !important; transition: all 0.5s ease 0s; bottom: -1px;}
.modal-body.contact-form.fly_loginPopup { overflow: hidden;   }
.modal-content.modalBoxPopup .modal-header { display: block;  }
.modal-content.modalBoxPopup .modal-header h2.modal-title { float:left; font-size: 18px; margin: 0; padding: 0; font-weight: bold; }
.modal-content.modalBoxPopup .modal-footer { border: none;  }
.AllmodalBoxPopup .modal-dialog  .form-popup {  float:left; width: 100%;      }
.modalBoxPopup .modal-body .registerboxnew { padding: 37px 10px; margin-bottom: 5px; margin-top: 25px; margin-right: 0;}
.modal-body .registerboxnew { text-align: center; background: #ff8300; color: #fff; width: 100%; padding: 5px;}
.RegisterNowLeft { float: right; width: 37%; margin: 0; padding: 0;}
.RegisterNowLeft a.btn.blueBtn { color:#fff; padding: 10px 15px;   }
.modal-body.contact-form.fly_loginPopup .login_linkedin_google {
    float: left;
    width: 100%;
    margin-top: 15px; text-align: center; display: flex;     justify-content: center;
}
.modal-body.contact-form.fly_loginPopup .ForgottenBox.inputBox { float: left; width:100%; text-align:center;  }
.modal-body.contact-form.fly_loginPopup .modal-footer { padding-left: 0; padding-right: 0;padding-top: 0; padding-bottom: 0;  }
.modal-body.contact-form.fly_loginPopup .inputbox { margin-bottom: 20px;  }
.Loginbtn {
    text-align: center;
}
.CandidateAccount {
    text-align: center;
    margin-top: 15px;
}


.MainLeft { width: 72%; float: left; }
.MainRight {float: right; width: 25%; }

section.CmsEditor.Candidated_Form .message.error.alert { color:red !important; }
button.btn.iconcode i { color:red; }
.MainTitle { text-align: center; padding-bottom: 15px; }
section.jobsbyindustry ul.row { margin:0px 0 30px 0; padding: 0;  }
section.jobsbyindustry ul.row li {display: inline-block; width: 33%; }
section.jobsbyindustry ul.row li a { border: solid 1px #ddd; padding: 20px; display: block; color:#000; text-decoration: none;  }
section.jobsbyindustry ul.row li a:hover { background:#000; color:#fff;  }
.Main_Category { text-align: center; }

/***** Table Css Add **************/
table.tableBox.MaintableBox { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed; }
table.tableBox.MaintableBox tr { background-color: #f8f8f8; }
.cartPage table.tableBox.MaintableBox tr {border: 1px solid #e6e6e6; }
table.tableBox.MaintableBox caption {font-size: 1.5em;margin: .5em 0 .75em; }
table.tableBox.MaintableBox tr {background-color: #f8f8f8; }
table.tableBox.MaintableBox th,
table.tableBox.MaintableBox td { padding: .625em; }
table.tableBox.MaintableBox th {font-size:14px; text-transform: uppercase; }
.trashbtn {display: inline-block; background:red; color: #fff !important; text-align: center; width: 30px; height: 30px; line-height: 30px; }
.cartPage .tableBox td.trashbtn1 { border-right: solid 1px #e6e6e6 !important; }
td.Prophoto img {width:auto; height:50px;  }
@media screen and (max-width:768px) {
table.tableBox.MaintableBox { border: 0;   }
table.tableBox.MaintableBox caption { font-size: 1.3em; }
table.tableBox.MaintableBox thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;  }
table.tableBox.MaintableBox tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em;  }
table.tableBox.MaintableBox td { border-bottom: 1px solid #ddd; display: block; text-align: center;  }
table.tableBox.MaintableBox td::before { content: attr(aria-label); content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; }
table.tableBox.MaintableBox td:last-child { border-bottom: 0;  }
table.tableBox.MaintableBox .product1Btn { justify-content:center; }
.tableBox td.qtyspc .product1Btn { display: inline-flex;  }
.tableBox td.Prophoto { display: none !important;  }
table.tableBox td h3.Protitle { margin: 0; padding: 0; text-align: center;  }
}

/***** Table Css End **************/
.SubTotalBox.TotalBox.TotalPoints .labelBox { width: 100%; border: solid 1px red; background: red; padding: 10px; color:#fff; text-align: center; margin-bottom: 20px; }
.cartPage .SubTotalBox.Discountline { color:red; }
.cartPage .SubTotalBox { float: left; width: 100%; display: flex; justify-content: space-between; margin-bottom: 10px; }
.labelBox { float: right; width: 73%; text-align: right; }
.cartPage .labelBox { margin-bottom: 0; }
section.CmsEditor.cartPage .col-sm-3 h4 { text-transform: uppercase; font-size: 14px; padding-top: 7px; font-weight: bold !important; }
.cartPage .SubTotalBox.TotalBox { font-weight: bold; }
.promo_codeBox label { line-height: 50px; margin: 0; }
.promo_codeBox {display: flex; justify-content: space-between;  width:80%; margin: 0 auto; position: relative; float: left; padding-top: 20px; }
.promo_codeBox .form-control { width:100%; height: 49px; color:#000; background:#eee; border: none;  }
.ShoppingBag {float: left;width: 100%; margin:15px 0 10px 0; position: relative;     border-top: solid 1px #ddd;}
.ShoppingBagHr:before { border: solid 1px #ddd; content: ""; position: absolute; top: 70px; width: 100%; }
.promo_codeBox input.btn { height: 50px;  }
.promo_codeBox input.form-control { background:#fff; border: solid 1px #ddd; }
.inputPromo { width: 45%; }
.CustomersBtn { text-align: right; }
.CustomersBtn a.btn:hover { color:#fff;   }
.MainCustomers .CustomersBtn { clear:both}
.cartPage .CustomersBtn { float: left; width: 100%; text-align: right; display: flex; justify-content: space-between; margin: 15px 0 0 0;  }
.LoginPages h3.contact-page-title { font-weight: 500; font-size: 20px; }
.GuestRegistration { overflow: hidden; padding: 20px; border: solid 1px #eee; }
.RegistrationDiv .form-group  { float: left; clear: both; width: 100%;  }
.RegistrationDiv { min-height: 350px; }
.divPointsInfo1 { background: #fff8f8; border: solid 1px #ddd; padding: 5px; margin-top: 10px; }
.LoginPages h3.contact-page-title { font-weight: 500; font-size: 20px; }
.checkoutPages .Checkoutbg { border: solid 1px #eee; margin: 0 0px 0 0; padding: 20px; overflow: hidden; }
.checkoutPages .inputBox { margin: 0 0 20px 0; width: 100%; }
.checkoutPages .ForgottenBox.inputBox { float: left; width: 100%; text-align: center; }
.checkoutPages .btn { display:inline-block; width: 100%; }
.CalculateShipping .Addselectionbx { border: solid 1px #ddd; padding: 5px; float: left; width: 100%; background: #eee; margin-bottom: 15px; }
.CalculateShipping { float: left; width: 100%; margin: 5px 0 0 0; }
.CalculateShipping .Addselectionbx .inputBox { margin-bottom: 0; }
.CalculateShipping .form-control { width: 100%; }
.Addselectionbx button.btn.FindMyAddress { padding: 9px 20px; float: right; margin: 0; position: absolute; right: 0; top: 0; }
.CalculateShipping .Addselectionbx .inputBox select.form-control { margin-top: 5px; }
.inputBox { float: left; width: 100%; margin-bottom: 20px; }
.error { color:red; clear: both; }
.jobbox.AllSavedProduct textarea { height: 262px; }
.buttonOrderNow { margin: 10px 0 10px 0; float: left; width: 100%; display: flex; justify-content: space-between; }
h6#addressHeading { border: solid 1px #333; padding: 15px 20px; }
.cartPage .ShoppingBag h6 { font-weight: normal; text-align: left; width: 100%; }
h6.delAddressShow:before, h6.delAddressHide:before { position: absolute; right: 20px; }
h6.delAddressShow:before { content: "\f068"; font-family: 'FontAwesome'; }
h6.delAddressHide:before { content: "\f067"; font-family: 'FontAwesome'; }
h6.delAddressHide:before { content: "\f067"; font-family: 'FontAwesome'; }
.modal-open .modal {background-color:rgba(0,0,0,0.8);}
.DivBanner { background:#333; padding:20px 0; float: left; width: 100%; margin-bottom:30px; text-align:center; }
.DivBanner h1 { margin: 0; color:#fff;  }
.DivBanner p { color:#fff ; margin-top: 10px; margin-bottom: 0; }
p.Tagline {text-align: center;}
.poweredStrip span { max-width: 100px; display: inline-block;  margin: 0 5px 0 0; padding: 0; }
.poweredStrip span img { max-width: 100%; }
.poweredStrip { width: 100%; margin-top: 10px; overflow: hidden; padding: 0; text-align: center; border: none; }


.BackgroundWhite.PaddingBox.CmsEditor { clear: both;  }
.contactForm.box h3 {text-align: center; font-size: 35px; }


.NewsletterForm .Newsletterleft {text-align: left;}
.NewsletterForm label.col-sm-2 { width: 100%; text-align: left; display: none; }
.NewsletterForm form { position: relative; }
.NewsletterForm form .submitbox { position: absolute; right: 0; top: 0; }


.PointsBalance {
    background: var(--blue);
    padding: 15px; color:#fff;
    margin-bottom: 20px;
    text-align: center;
}



.margin-bottom { margin-bottom: 30px !important;  }
.modal-dialog.order_popup {
    width: 100%;
    max-width:850px;
}
.modal-dialog.order_popup .modal-content { width: 100% !important;  }
.order_popup iframe.embed-responsive-item { width: 100% !important; border: none; }

.alert {clear: both;}
.note-success {
    /*background-color: #dff0d8 !important;
    color: #3c763d !important;
    text-transform: none;
    border-left:solid 5px #3c763d !important;
    border-right:solid 1px #3c763d !important;
    border-top:solid 1px #3c763d !important;
    border-bottom:solid 1px #3c763d !important;*/
    border-radius:0 ;
}
.note-danger {
    background-color: #f2dede !important;
    color: #d51f38 !important;
    text-transform: none;
    border-left:solid 5px #d51f38 !important;
    border-right:solid 1px #d51f38 !important;
    border-top:solid 1px #d51f38 !important;
    border-bottom:solid 1px #d51f38 !important;
    border-radius:0 ;    


}


.CandidatemenuPopup.scrollBox {height: 100%;   max-height: 100%; }
.CandidatemenuPopup ul.RegistrationBox { padding:0; margin: 0; list-style: none;}
.CandidatemenuPopup ul.RegistrationBox li ul.submenuCandidates { display: block;  width: 100%; text-align: center;} 
.CandidatemenuPopup span.myAccount, i.fa.fa-user.myAccounticon { display: inline-block; }
.CandidatemenuPopup ul.RegistrationBox li.menuCandidates a.btn { display: block; padding: 10px; border-radius: 0;}
.CandidatemenuPopup ul.RegistrationBox a.blueBtn1,.CandidatemenuPopup ul.RegistrationBox li.LogInbtn a { background:#b32771; border:#b32771;  display: block; padding:5px 20px; border-radius: 4px; text-align: center; color:#fff; margin-bottom: 10px; }
.CandidatemenuPopup ul.RegistrationBox a.blueBtn1 i,.CandidatemenuPopup ul.RegistrationBox li.LogInbtn a i { margin-right: 5px; }

.Candidate_menu { display: flex;  align-items: center; }
.Candidate_menu  ul.RegistrationBox li.menuCandidates a.btn { padding:5px 10px; border: none; height: auto; }

.sidenav.mySidenavFilter {
    background: transparent;
    position: relative;
    display: block;
}
.sidenav.mySidenavFilter {
    width: 100%;
    
}
.mySidenavFilter span.open_mobilecart.btn2 {
    padding: 5px 6px 5px 10px;
    background: #c89329;
    float: right;
}
.sidenav.mySidenavFilter .closebtn {
    display: none;
}
.sidenav.mySidenavFilter .closebtn {
    font-size: 20px;
    line-height: 30px;
    float: right;
    top: 0;
}

/*.sidenav.mySidenavFilter .Foundjobs .tabsbox .nav.nav-tabs,.sidenav.mySidenavFilter .panel-body.contact-form { display: none; }*/
.sidenav.mySidenavFilter .Foundjobs.FoundjobsRight .tabsbox .tab-content { box-shadow: none; }


label.col-sm-2.None { display:none;  } 
label.col-sm-2.Right { float:right; text-align:right;  }

.loading {background: transparent url('../../../../media4.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy_cid_ecf05e476ht27yz40arwvvg50ne2js8uikwpls653hv1abad_rid_giphy.gif.gif') center no-repeat;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
 }
 .form-group.please-select-what-you-are-interested-in { padding-top:20px; padding-bottom:10px}
section.CmsEditor.blogPage {
    border-top: solid 1px #eee;
    padding-top: 0;
}
 


.blog .row .NewinsightsBox:first-child {
    width: 100%;
    margin-bottom: 50px;
}
.blog .row .NewinsightsBox:first-child .insightsBox {
    display: flex;
    position: relative;
    overflow: hidden;
    padding:0;
    width: 100%; 
    align-items: center;
    margin-bottom: 0;
}
.blog .row .NewinsightsBox:first-child .insightsBox .Insights3 {
    position: relative;
    bottom: 0;
    right: 0;
    width:50%;
}
.blog .row .NewinsightsBox:first-child .insightsBox .news-block {
    padding:50px;
    background-color: #fff;
    width: 50%;
}
.blog .row .NewinsightsBox:first-child .insightsBox img { height:auto;  }



.BlogPostCategorys { text-decoration: none; padding:5px 20px; color:var(--blue); background-color:#3CF0FF; width:auto;  display:inline-block; font-size:16px; border-radius:var(--border-radius); border:solid 1px var(--blueLight); font-weight:normal; font-family: 'geographregular'; font-feature-settings: 'ss01', 'ss03';  }
.MainCategorys { margin-bottom:25px;   }


.blog_common  { margin-bottom: 30px;  }
.blog_common .topbreadcrumbbox { border-bottom:solid 1px #ddd; }
section.SectionInsights .MainTitle { text-align: left;  }